.light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}
