  <!-- Required CSS -->
  <link rel="stylesheet" href="/assets/BackOffice/vendors/feather/feather.css">
  <link rel="stylesheet" href="/assets/BackOffice/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/BackOffice/css/vertical-layout-light/style.css">
  <!-- End Required CSS -->
  <link rel="shortcut icon" href="/assets/BackOffice/images/favicon.png" />
  
<div class="container-scroller">
  <app-navbar-back></app-navbar-back>
    <div class="container-fluid page-body-wrapper">
      <app-sidebar-back></app-sidebar-back>
      <router-outlet></router-outlet> 
    </div>   
</div>   



 <!-- Required JS -->
 <script src="/assets/BackOffice/vendors/js/vendor.bundle.base.js"></script>
 <!-- End Required JS -->
 <!-- Plugin js for this page -->
 <script src="/assets/BackOffice/vendors/chart.js/Chart.min.js"></script>
 <script src="/assets/BackOffice/vendors/datatables.net/jquery.dataTables.js"></script>
 <script src="/assets/BackOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
 <!-- End Plugin js for this page -->
 <!-- Custom js for this page -->
 <script src="/assets/BackOffice/js/off-canvas.js"></script>
 <script src="/assets/BackOffice/js/hoverable-collapse.js"></script>
 <script src="/assets/BackOffice/js/template.js"></script>
 <script src="/assets/BackOffice/js/settings.js"></script>
 <script src="/assets/BackOffice/js/todolist.js"></script>
 <script src="/assets/BackOffice/js/dashboard.js"></script>
 <script src="/assets/BackOffice/js/Chart.roundedBarCharts.js"></script>
 <!-- End Custom js for this page -->