<header>
	<div class="header-top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<ul class="top-bar-info list-inline-item pl-0 mb-0">
						<li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>support@pocketdoc.tn</a></li>
						<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>44 tunis, Tunisia </li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
						<a href="tel:+23-345-67890" >
							<span>Call Now : </span>
							<span class="h4">+216 22682736</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
		 	 <a class="navbar-brand" href="index.html">
			  	<img src="assets/FrontOffice/images/logo.png" alt="" class="img-fluid">
			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href=home>Home</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="department.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rendez-vous <i class="icofont-thin-down"></i></a>
				<ul class="dropdown-menu" aria-labelledby="dropdown02">
					<li><a class="dropdown-item" href="department.html">Créer Rendez-vous</a></li>
					<li><a class="dropdown-item" href="department-single.html">List</a></li>
				</ul>
			  </li>

			    <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="department.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Convention <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="department-single.html">Demande de convention</a></li>
						<li><a class="dropdown-item" href="department-single.html">List de convention</a></li>
					</ul>
			  	</li>

				  <li class="nav-item active">
					<a class="nav-link" href=home>Fiche</a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href=home>Ordonnance</a>
				  </li>

				  <li class="nav-item active">
					<a class="nav-link" href=home>Forum</a>
				  </li>

				  <li class="nav-item active">
					<a class="nav-link" href=home>Evenement</a>
				  </li>

				  <li class="nav-item active">
					<a class="nav-link" href=home>Reclamation</a>
				  </li>
	
			</ul>
		  </div>
		</div>
	</nav>
</header>